html, body, div {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Arial, sans-serif;
}

.record {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 50px auto 0;
}

.record .front {
	visibility: visible;
	
	width: 300px;
	height: 300px;

	position: absolute;
	top: 0;
	left: 0;
	
	opacity: 1;
	
	-webkit-animation-name: coverflip-front;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: ease-in-out;
	
	-webkit-animation-fill-mode: none;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-delay: -1s;
}

.record .back {	
	width: 300px;
	height: 300px;
	
	position: absolute;
	top: 0;
	left: 0;
	
	opacity: 0;
	
	-webkit-animation-name: coverflip-back;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: ease-in-out;
	
	-webkit-animation-fill-mode: none;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-delay: -1s;
}

.record:hover .front {
	-webkit-animation-name: coverflip-front;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	
	-webkit-animation-fill-mode: none;


}

.record:hover .back {
	-webkit-animation-name: coverflip-back;
	-webkit-animation-duration: 1s;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	
	-webkit-animation-fill-mode: none;
}


@-webkit-keyframes coverflip-front {
	100%
	{
		-webkit-transform: scale(1) rotateY(0deg);
		-webkit-transform-origin: 50% 50%;
	}
	
	50%
	{
		opacity: 1;
	}

	49%
	{
		opacity: .5;
	}
	
	0%
	{
		-webkit-transform: scale(1.2) rotateY(180deg);
		-webkit-transform-origin: 50% 50%;
		
		opacity: .5;
	}
}

@-webkit-keyframes coverflip-back {
	100%
	{
		-webkit-transform: scale(.8) rotateY(180deg);
		-webkit-transform-origin: 50% 50%;
		
		opacity: 0;

	}
	
	51%
	{
		opacity: 0;
	}
	
	50%
	{
		opacity: 1;
	}
		
	0%
	{
		-webkit-transform: scale(1) rotateY(0deg);
		-webkit-transform-origin: 50% 50%;
		
		opacity: 1;
	}
}
